* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #9796f0, #fbc7d4);
}

.container {
  display: flex;
  justify-content: center;
  align-items: ceter;
}

.container__loader {
  display: flex;
  justify-content: center;
  align-items: ceter;
}

.container__movies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  padding: 100px;
}
