* {
  box-sizing: border-box;
}

.movie {
  width: 440px;
  height: 320px;
  background-color: white;
  display: flex;
  margin-bottom: 80px;
  padding-right: 50px;
  border-radius: 7px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie img {
  position: relative;
  top: -15px;
  left: -20px;
  max-width: 200px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.movie__title {
  margin-bottom: 0;
  color: #2c2c2c;
}

.movie__title_en {
  font-size: 12px;
  opacity: 60%;
}

.movie__year,
.movie__director,
.movie__time,
.movie__genre,
.movie__nation {
  display: flex;
  font-size: 14px;
}

.movie__year > span,
.movie__director > span,
.movie__time > span,
.movie__nation > span {
  flex: 0 0 80px;
  font-weight: 700;
}

.movie__genre > span {
  flex: 0 0 40px;
  font-weight: 700;
}

.movie__genre,
.movie__nation {
  list-style: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.movie__genre li {
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 4px 10px;
  border-radius: 15px;
  color: white;
  font-weight: 500;
  opacity: 90%;
  background-image: linear-gradient(135deg, #4568dc, #b06ab3);
}

.movie__nation {
  margin: 0;
}

hr {
  width: 220px;
  margin: 15px 0;
}
